@import url('./modale.css');

body {
    font-family: "DM Sans", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    padding: 43px 100px 0;
}

/*HEADER*/
.logo {
    height: 50px;
}

/*PHOTOGRAPHER HEADBAND*/
.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0 50px;
    background-color: #FAFAFA;
    height: 313px;
}

.header-info__name {
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
}

.header-info__localisation {
    font-size: 1.5rem;
    font-weight: 400;
    color: #901C1C;
    margin-bottom: 19px;
}

.header-info__tagline {
    font-size: 1.1rem;
    font-weight: 400;
    color: #525252;
}

.header-img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, .4);
}

/*SELECT CUSTOM*/
.sort-section {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 9px;
    margin-bottom: 23px;
}

.sort-section label {
    font-size: 1.1rem;
    font-weight: 700;
}

.custom-select {
    position: relative;
    width: 170px;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
}

.selected-option {
    background-color: #901C1C;
    padding: 23px 60px 23px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.selected-option::after {
    content: '';
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.selected-option.open::after {
    transform: translateY(-50%) rotate(225deg);
}

.sort-select {
    display: none;
}

.select-options {
    list-style: none;
    position: absolute;
    top: 101%;
    left: 0;
    right: 0;
    background-color: #901C1C;
    cursor: pointer;
    user-select: none;
    padding: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    z-index: 1000;
}

.select-options.open {
    display: flex;
}

.select-option {
    padding: 15px 0 15px 18px;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.select-option:nth-of-type(1)::after,
.select-option:nth-of-type(2)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 150px;
    height: 1px;
    background-color: #fff;
}

.select-option:hover {
    background-color: #DB8876;
}

.select-option:nth-of-type(1):hover {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.select-option:nth-of-type(3):hover {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*MEDIA GALLERY*/
.gallery-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 95px;
    grid-row-gap: 30px;
    margin-bottom: 25px;
}

.media-element {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.figcaption-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
}

.figcaption-element h2 {
    font-weight: 400;
}

.likes {
    font-weight: 500;
}

.heart-icon {
    cursor: pointer;
}

/*STICKY-FOOTER*/
.sticky-footer {
    width: 376px;
    margin-left: 928px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
    padding: 18px 33px;
}

.sticky-footer span {
    color: #000;
    font-size: 1.5rem;
}