@import url('./modale.css');

body {
    font-family: "DM Sans", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    padding: 43px 100px 0;
}

/*HEADER*/
.logo {
    height: 50px;
}

/*PHOTOGRAPHER HEADBAND*/
.photograph-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0 50px;
    background-color: #FAFAFA;
    height: 313px;
}

.header-info__name {
    font-size: 64px;
    font-weight: 400;
    color: #D3573C;
}

.header-info__localisation {
    font-size: 1.5rem;
    font-weight: 400;
    color: #901C1C;
    margin-bottom: 19px;
}

.header-info__tagline {
    font-size: 1.1rem;
    font-weight: 400;
    color: #525252;
}

.header-img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, .4);
}

/*SORT SECTION*/
.sort-section {
    margin: 20px 0 58px;
}

.sort-section label {
    font-size: 1.1rem;
    font-weight: 700;
    margin-right: 25px;
}

.sort-select {
    width: 170px;
    background-color: #901C1C;
    outline: none;
    border: none;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
}

.sort-select:focus {
    outline: none;
}

/*MEDIA GALLERY*/
.gallery-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 95px;
    grid-row-gap: 30px;
}

.media-element {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.figcaption-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: #901C1C;
}

.figcaption-element h2 {
    font-weight: 400;
}